@font-face {
  font-family: 'GeneralSans';
  src: url('../fonts/GeneralSans-Variable.woff2') format('woff2'),
       url('../fonts/GeneralSans-Variable.woff') format('woff');
       font-weight: 200 700;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('../fonts/GeneralSans-VariableItalic.woff2') format('woff2'),
       url('../fonts/GeneralSans-VariableItalic.woff') format('woff');
       font-weight: 200 700;
       font-display: swap;
       font-style: italic;
}

:root {
  --gapura-blue:    #0d6efd;
  --gapura-indigo:  #6610f2;
  --gapura-purple:  #6f42c1;
  --gapura-pink:    #d63384;
  --gapura-red:     #dc3545;
  --gapura-orange:  #fd7e14;
  --gapura-yellow:  #ffc107;
  --gapura-green:   #198754;
  --gapura-teal:    #20c997;
  --gapura-cyan:    #0dcaf0;

  --sans: 'GeneralSans', Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  --mono: Menlo, Consolas, Monaco, "Liberation Mono", Lucida Console, monospace;
}

p, .text-gapura {
  color: #4b4b4b !important;
  // line-height: 1.6;
}

a {
  color: #6c757d !important;

  &:hover {
    color: var(--color-base) !important;
  }
}

nav {
  border-bottom: solid 1px #F2F2F2;
}

body {
  font-family: var(--sans);
}

h1, h2 {
  font-weight: 700!important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #2b2b2b !important;

  a {
    color: #2b2b2b !important;
  }
}

nav {
  a {
    color: #2b2b2b !important;
  }
}

main.content {
  width: 100%;
  min-height: 84vh;
}

.scrolled-down{
  transform:translateY(-100%); transition: all 0.3s ease-in-out;
}

.scrolled-up{
  transform:translateY(0); transition: all 0.3s ease-in-out;
}

.autohide {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
}

.social-icon {
  svg {
    stroke: #454545;
  }

  a {
    :hover {
      stroke: var(--color-base);
    }
  }
}

footer.footer {
  // height: 4vh;
  position: relative;
  bottom:0px;
  padding: 1em 0;
  font-size: 12px;
  color: #6b7886;

  a {
    color: inherit;
    text-decoration-color: #d2c7c7;
  }
}

.tag-cloud {
  a {
    border: #6c757d 1.5px solid;
    border-radius: 4px;
    margin: 1px;
    padding: 2px;
    text-decoration: none;
    color: #6c757d !important;
    font-size: 12px;


    &:hover {
      border: #fff 1.5px solid;
      border-radius: 4px;
      background: var(--color-base);
      color: #fff !important;
    }
  }

}
